*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.default-btn {
    padding: 10px 15px;
    color: white;
    background-color: #0b88ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.default-btn:hover{
        background-color: #0056b3;
}